/*-----------
    RESET
------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/*-----------
    VARIABILI
------------*/

:root{
    --colore-bg-prezzi: #eb0037;
    --colore-bg-eco: #00875a;
    --colore-prezzi-scontati: #ff0000;
}




/*-----------
    COMMON
------------*/

.container{
    max-width: 1200px;
    margin: auto;
}

.row{
    margin: 15px 0;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.product:hover .img-product img{
    animation-name: scomparsa;
    animation-duration: 1s;
    opacity: 1;
}

@keyframes scomparsa {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
  }

/*-----------
    COMPONENT
------------*/

.product{
    float: left;
    width: calc(100%/3 - 30px);
    margin: 0 15px;
}


/*-----------
    IMG-PRODUCT
------------*/

.img-product img{
    width: 100%;
    display: block;
    position: relative;
    opacity: 0;
}

.img-product{
    position: relative;
}

.img-product div{
    position: absolute;
}

.wishlist{
    background-color: white;
    display: block;
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 20px;
    top: 16px;
    right: 0;
}

/*-----------
    TAG BOX
------------*/

.tag-box{
    bottom: 15px;
    color: white;
}

.tag-box.eco::after{
    content:"Sostenibilità";
    padding: 4px;
    font-size: x-small;
    font-weight: 700;
    display: inline-block;
    background-color: var(--colore-bg-eco);
}

.tag-box.discount-50::before{
    content:"-50%";
    padding: 4px;
    margin-right: 4px;
    font-size: x-small;
    font-weight: 700;
    display: inline-block;
    background-color: var(--colore-bg-prezzi);
}

.tag-box.discount-50::before{
    content:"-50%";
    padding: 4px;
    font-size: x-small;
    font-weight: 700;
    display: inline-block;
    background-color: var(--colore-bg-prezzi);
}

.tag-box.discount-30::before{
    content:"-30%";
    padding: 4px;
    font-size: x-small;
    font-weight: 700;
    display: inline-block;
    background-color: var(--colore-bg-prezzi);
}

/*-----------
    INFO PRODUCT
------------*/

.info-product {
    font-size: small;
    text-transform: capitalize;
}

.info-product h4{
    text-transform: uppercase;
}
.info-product span{
 margin-right: 4px;
}

.info-product .delate{
    text-decoration: line-through;
   }

.info-product span.discount{
    font-weight: 700;
    color: var(--colore-prezzi-scontati);
}



/*----------
    HOVER IMG
-----------*/

.img-product.primo{
    background-image: url("../img/1.webp");
    background-size: cover ;
    background-repeat: no-repeat;
}

.img-product.secondo{
    background-image: url("../img/2.webp");
    background-size: cover ;
    background-repeat: no-repeat;
}

.img-product.terza{
    background-image: url("../img/3.webp");
    background-size: cover ;
    background-repeat: no-repeat;
}

.img-product.quarta{
    background-image: url("../img/4.webp");
    background-size: cover ;
    background-repeat: no-repeat;
}

.img-product.quinta{
    background-image: url("../img/5.webp");
    background-size: cover ;
    background-repeat: no-repeat;
}

.img-product.sesta{
    background-image: url("../img/6.webp");
    background-size: cover ;
    background-repeat: no-repeat;
}


