/*-----------
    RESET
------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/*-----------
    VARIABILI
------------*/

:root{
    --colore-bg-prezzi: #eb0037;
    --colore-bg-eco: #00875a;
}




/*-----------
    COMMON
------------*/

.container{
    max-width: 1200px;
    margin: auto;
}

.row{
    margin: 15px 0;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/*-----------
    COMPONENT
------------*/

.product{
    float: left;
    width: calc(100%/3 - 30px);
    margin: 0 15px;
}


/*-----------
    IMG-PRODUCT
------------*/

.img-product img{
    width: 100%;
}

.img-product{
    position: relative;
}

.img-product div{
    position: absolute;
}

.wishlist{
    background-color: white;
    display: block;
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 20px;
    top: 16px;
    right: 0;
}

/*-----------
    TAG BOX
------------*/

.tag-box{
    bottom: 15px;
    color: white;
}

.tag-box.eco::after{
    content:"Sostenibilità";
    padding: 4px;
    font-size: x-small;
    font-weight: 700;
    display: inline-block;
    background-color: var(--colore-bg-eco);
}

.tag-box.discount-50::before{
    content:"-50%";
    padding: 4px;
    font-size: x-small;
    font-weight: 700;
    display: inline-block;
    background-color: var(--colore-bg-prezzi);
}

.tag-box.discount-50::before{
    content:"-50%";
    padding: 4px;
    font-size: x-small;
    font-weight: 700;
    display: inline-block;
    background-color: var(--colore-bg-prezzi);
}

.tag-box.discount-30::before{
    content:"-30%";
    padding: 4px;
    font-size: x-small;
    font-weight: 700;
    display: inline-block;
    background-color: var(--colore-bg-prezzi);
}

/*-----------
    INFO PRODUCT
------------*/

.info-product {
    font-size: small;
}

.info-product h4{
    text-transform: uppercase;
}
